* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  background-image:url("../img/carrusel/pie-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: auto;
  height: 120vh;
}

.hero-content-section-todo {
  display: flex;
  justify-content: start;
  align-items: start;
  min-height: 50vh;
  background-color: #f5f5f5;
  
}

.container-info {
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 20px;
  width: 98%;
  margin: 20px 10px;
  display: flex;
  justify-content: start;
  align-items: end;
  position: relative;
  

  .colocar {
    margin-top: auto;
  }
}
.map-css{
  display: flex;
  justify-content: end;
  align-items: center;
}
.map-css iframe {
  width: 80%;
  height: 80%;
  right: 0;

  
  
}
.form-css{
  width: 35%;
}

@media screen and (min-width: 300px) and (max-width: 1200px) {
  .map-css {
    width: 90%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 35px 0;
    display: flex;
    justify-content: center;
  }

  main{
    height: 80vh;
  }
}
@media screen and (min-width: 300px) and (max-width: 1200px) {
.form-css {
  width: 50%;

}
}