* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-inner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  /*era cover*/
  max-width: 1200px;
  margin: 0 auto;
}

/*para las imagenes de cartelera productos*/
.seccion-productos {
  margin-top: 60px;
}

.seccion-productos h3 {
  text-align: center;
  font-size: 28px;
  color: #B59943;
  margin-bottom: 25px;
}

main h1 {
  font-size: 40px;
  text-align: center;
  color: #B59943;
  margin-bottom: 25px;
}

.card:hover {
  border: 3px solid #e1d1a1;
}

h6 {
  text-align: center;
  color: #B59943;
}

.img-css img {
  height: 90vh;
  object-fit: cover;
  object-position: center bottom;
  margin: 30px 0px;
  top: 0;
}

/*saco subrayado*/
a {
  text-decoration: none;
}

.consulta-precio {
  background-color: rgb(181, 153, 67);
  padding: 15px 20px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.consulta-precio:hover {
  background-color: rgb(231, 213, 160);
}