.navbar {
  height: 115px;
  margin: 20px;
  border-radius: 15px;
  background-color: rgb(213, 218, 218);
  padding: 0;
  display: flex;
  justify-content:space-between;
  align-items: center;

  img {
    height: 90px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
  }
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px ;
  .navbar-toggler{
    justify-content: end;
    align-items: end;
  }
}

.navbar-nav {
  display: flex;
  justify-content: start;
  align-items: start-end;
  gap: 20px;
}

.navbar-brand {
  
  font-weight: 500;
  color:rgb(81, 71, 39);
  font-size: 19.5px;
  transition: 0.3s color;
  font-family: "Times New Roman", Times, serif;
}

.login-button {
  background-color:rgb(181, 153, 67);
  color: #000;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
  white-space: nowrap;
  display: inline-block;
}

.login-button:hover {
  background-color:  rgb(243, 236, 227) ;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
  padding: 0;
  

}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color:  rgb(181, 153, 67);
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

@media  (min-width: 801px) and (max-width: 1200px) {
  .nav-item:hover .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: rgb(181, 153, 67);
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }

  .nav-link:hover::before,
  .nav-link.active::before {
    width: 100%;
    visibility: visible;
  }
}

/*agrego para dar espacio con navbar*/
main {
  padding-top: 150px;
}

